@import url('https://fonts.googleapis.com/css?family=Gorditas|Questrial');

html, body {
  min-height: 100%;
}

body {
  text-align: center;
  background-image:
    url(imgs/fundo.png),
    radial-gradient(farthest-corner at 92px 45px , #00b4ea 10%, #e289a6 72%);
  background-size: cover;
  background-position-x: 50%;
  background-attachment: fixed;
  /* mescla os 3 fundos: 1 imagem, 1 gradiente e 1 cor */
  background-blend-mode: hard-light;
  font-family: 'Questrial', sans-serif;
}

body.animando {
  animation: altera-fundo 6s ease-in-out 0s infinite alternate;
}

/* faz o fundo ir clareando/escurecendo */
@keyframes altera-fundo {
  0% {
    background-color: rgba(255, 255, 255, 0.0);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

#marca {
  font-family: 'Gorditas', cursive;
  font-weight: normal;
  font-size: 4em;
  line-height: 0.75em;
  color: #e84a4a;
  text-shadow: 1px 1px black;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.33);
  padding: 0.25em;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  background: rgba(239, 52, 56, 0.18);
}

#app {
  margin: 0 auto;
  min-width: 300px;
  max-width: 900px;
  text-align: left;
  font-size: 1.5em;
}

#lista-tarefas {
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

#nova-tarefa {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

#nova-tarefa input,
#nova-tarefa select,
#nova-tarefa button,
#filtros select {
  font: inherit;
  outline: none;
  border: none;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

#nova-tarefa-nome {
  flex: 1;
}

#nova-tarefa-nome::input-placeholder {
  font-style: italic;
}

#nova-tarefa-nome,
.item-tarefa {
  box-sizing: border-box;
  padding: 0.5em 0.5em 0.5em 1.5em;
  background-color: white;
}

#nova-tarefa,
.item-tarefa {
  width: 100%;
}

#nova-tarefa-nome,
.item-tarefa:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}

#incluir-nova-tarefa {
  width: 3em;
  cursor: pointer;
}

#incluir-nova-tarefa:hover {
  background-color: silver;
  outline: 1px solid rgba(0, 0, 128, 0.3);
}

#incluir-nova-tarefa:active {
  background-color: gray;
}

.item-tarefa {
  position: relative;
  transition: all 200ms ease;
  cursor: pointer;
}

.item-tarefa::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 1px;
  left: 0;
  bottom: 0;
  width: 9px;
}

.item-tarefa.categoria-lazer::before {
  background-color: rebeccapurple;
}

.item-tarefa.categoria-compras::before {
  background-color: yellow;
}

.item-tarefa.categoria-estudos::before {
  background-color: cornflowerblue;
}

.item-tarefa.marcado {
  text-decoration: line-through;
  color: silver;
}

.item-tarefa .data-limite {
  font-size: 75%;
  color: silver;
  float: right;
}

#filtros {
  padding: 0.5em;
  margin-top: 1em;
  background-color: #fff8;
}

#filtro-de-categoria {
  background-color: #fff;
  border: 1px solid gray;
}

.item-tarefa.retido-no-filtro {
  opacity: 0.25;
}